{% extends "template.html" %}

{% block title %}{{ sezione.titolo }}{% endblock %}

{% block content %}
  

    <h1>{{ sezione.titolo }}</h1>
   	<h2>{{ selected.title}}</h2>
   	<h3>{{ selected.type.desc}}</h3>
   	<h4>{{ selected.pub_date}}</h4>
   	<p>{{ selected.body}}
   
{% endblock %}

{% block sider %}
	  	
			<h2>Actions</h2>
                    <a href="/mysite/pynotes/note/delete/{{ selected.id}}" class="download-btn">Delete</a>
              		<a href="/mysite/pynotes/note/edit/{{ selected.id}}" class="download-btn">Edit</a>
       
{% endblock %}

